{% extends 'base.html' %}
{% block content %}

    <h1>Bag Details </h1> 
  <div class="card">
        <div class="card-content">
            <div class="flex-container">
                <div>
                    <span class="card-title"> {{ bag.name }} </span>
                    <p> {{ bag.brand }} </p>
                    <p> {{ bag.colour }} </p>
                    <p> {{ bag.material }} </p>
                </div>
                <div class="right">
                    <img src="{{ bag.image }}" height="300px" width="200px">
                    <p> Retail Price: £{{ bag.cost }} </p>
                    <div class="card-action"> 
                        <a href="{% url 'bags_update' bag.id %}"> Edit </a>
                        <a href="{% url 'bags_delete' bag.id %}"> Delete </a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <form action="{% url 'add_rentals' bag.id %}" method="post">
        {% csrf_token %}
        {{ rentals_form.as_p }}
        <input type="submit" value="Add New Rental" class="btn">
    </form>

    {% if bag.rented_today %}
        <div class="card-panel pink-text center-align">
            The lovely {{ bag.name }} is available to rent!!
        </div>
    {% else %}
        <div class="card-panel purple-text center-align">
            All of our lovely {{ bag.name }}'s are currently rented out, try again later!!
        </div>
    {% endif %}

    <table class="highlight">
        <thead>
            <tr>
                <th> Date Rented </th>
                <th> Duration </th> 
            </tr>
        </thead>
        <tbody>
            {% for rentals in bag.rentals_set.all  %}
            <tr>
                <td> {{ rentals.date }} </td>
                <td> {{ rentals.get_duration_display }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <a name="renters">
    <div class="row">
        <div class="col s6">
            <h3> Current Renters </h3> 
            {% if bag.renters.count %}
                {% for renter in bag.renters.all %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">
                                <span class="purple-text"> {{ renter.name }} </span> from {{ renter.location }}
                            </span>
                        </div>
                        <div class="card-action">
                            <form action="{% url 'disassoc_renter' bag.id renter.id %}#renters" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn"> Remove </button> 
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5> {{ bag.name }} has no active renters </h5>
            {% endif %}
        </div>
        <!-- available toys -->
        <div class="col s6">
            <h3> Available Renters </h3> 
            {% if renters.count %}
                {% for renter in renters.all %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">
                                <span class="purple-text"> {{ renter.name }} </span> from {{ renter.location }}
                            </span>
                        </div>
                        <div class="card-action">
                            <form action="{% url 'assoc_renter' bag.id renter.id %}#renters" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn"> Add </button> 
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5> {{ bag.name }} has all available renters </h5>
            {% endif %}
        </div>
    </div>
    </a>
    <script>
        var dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        });

        var selectEl = document.getElementById('id_duration');
        M.FormSelect.init(selectEl);
    </script>
{% endblock %}